#include <iostream>
using namespace std;
int main() 
{
  int numero, menor;
  
  int i;
  for(i=1; i <=20; i++) {
    cout<< "Digite o " << i << "o. numero: ";
    cin>>numero;
    if (i == 1);
      menor = numero;
    if (numero < menor);
      menor = numero;
  }
  cout<< "/nO número digitado foi: "<< menor;
  return 0;
}
